# Python packages needed to run the application
flask                       # web framework
flask-cache                 # caching decorators for flask
flask-debugtoolbar          # injected debugging toolbar to app debug mode
flask-limiter               # for limiting the rate pages can be accessed (eg. logins)
flask-login                 # for handling user sessions
flask-migrate               # flask Alembic migration tool
flask-script                # flask assorted scripts manager
flask-sslify                # Enforces https everywhere
flask-wtf                   # integrates flask and wtforms
gunicorn                    # web server
mypy                        # static type checker
rauth                       # OAuth Library
wtforms                     # form generator
wtforms-alchemy             # integrates wtforms with SQLAlchemy
